# 1.Write a code to reverse a string.

In [ ]:
def reverse_string(s):
  return(s[::-1]) #Using slicing
s="abcdef"
print(reverse_string(s))

fedcba

# 2. Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(s):
  map='aeiouAEIOU'
  count=0
  for char in s:
    if char in map:
      count+=1
  return count
s="jhdsvfqhweiofnvkjoeA"
print(count_vowels(s))

6

# 3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def palindrome(s):
  return s==s[::-1]
s='121'
print(palindrome(s))

True

# 4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
from collections import Counter
def anagrams(s1,s2):
  if len(s1) != len(s2):
        return False
  map1=Counter(s1)
  map2=Counter(s2)
  for char,freq in map1.items():
    if char not in map2 or map2[char] !=freq:
      return False
  return True
s1='qwert'
s2='erwtq'
print(anagrams(s1,s2))

True

# 5.Write a code to find all occurrences of a given substring within another string

In [ ]:
def occurrences(s1,s2):
  occurr=[]
  for i in range(len(s1)-1):
    temp=i
    count=0
    for j in s2:
      if s1[i]==j:
        count+=1
        i+=1
      else:
        break
    if count==len(s2):
      occurr.append(temp)
  return(occurr)
s1='cdabcdcd'
s2='cd'
print(occurrences(s1,s2))

[0, 4, 6]

# 6.Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
from collections import Counter
def string_compression(s1):
  map1=Counter(s1)
  res=''
  for char,freq in map1.items():
    res+=(char+str(freq))
  return res
s1='aaabbccdd'
print(string_compression(s1))

a3b2c2d2

# 7. Write a code to determine if a string has all unique characters.

In [ ]:
from collections import Counter
def unique_charactrers(s1):#using maping
  seen=set()
  for i in s1:
    if i not in seen:
      seen.add(i)
    else:
      return False
  return True
def unique_charactrers1(s1):#without maping
  map1=Counter(s1)
  for char, freq in map1.items():
    if freq != 1:
      return False
  return True
s1="abcda"
print(unique_charactrers(s1))
print(unique_charactrers1(s1))

False
False

# 8.Write a code to convert a given string to uppercase or lowercase

In [ ]:
def upper(s1):#Upper Case
  return s1.upper()
s1='sumit'
print(upper(s1))
def lower_case(s2):#lower Case
  return s2.lower()
s2='SUMIT'
print(lower_case(s2))

SUMIT
sumit

# 9.  Write a code to count the number of words in a string.

In [ ]:
def count_words(s1):
  split1=s1.split()
  return len(split1)
s1="I am Sumit "
print(count_words(s1))

3

# 10. Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate(s1,s2):
  return "".join([s1,s2])
s1='I '
s2='am sumit'
print(concatenate(s1,s2))

I am sumit

# 11.  Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def occurrences(s1,element):
  res=[]
  for i in s1:
    if i !=element:
      res.append(i)
  return res
s1 = [1, 2, 3, 4, 2, 5, 2]
element = 2
print(occurrences(s1,element))

[1, 3, 4, 5]

# 12.Implement a code to find the second largest number in a given list of integers

In [ ]:
def second_largest(list1):
  n=len(list1)

# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [ ]:
def count_occurrences(s1):
  map1={}
  for i in s1:
    if i not in map1:
      map1[i]=1
    else:
      map1[i]+=1
  return map1
s1=[1,2,2,3,4,4]
print(count_occurrences(s1))

{1: 1, 2: 2, 3: 1, 4: 2}

# 14. Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse_list(s1):
  low=0
  high=len(s1)-1
  while low<high:
    s1[low],s1[high]=s1[high],s1[low]
    low+=1
    high-=1
  return s1
s1=[1,2,3,4,5]
print(reverse_list(s1))

[5, 4, 3, 2, 1]

# 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [ ]:
def duplicate(nums):
  duplicate=[]
  list1=[]
  for i in nums:
    if i not in list1:
      list1.append(i)
    elif i in list1:
      duplicate.append(i)
  return (duplicate,list1)

nums=[1,2,3,4,5,1,2]
print(duplicate(nums))

([1, 2], [1, 2, 3, 4, 5])

# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def sorted(nums):
  for i in range(1,len(nums)):
    if  not nums[i-1]<=nums[i]:
      return('Ascending')
    if nums[i-1]>=nums[i]:
      return("Descending")
  return ("Unsorted")
nums=[1,2,3,4,5]
print(sorted(nums))

Unsorted

# 17.Write a code to merge two sorted lists into a single sorted list

In [ ]:
def merge(l1,l2):
  res=[]
  i,j=0,0
  while(i<len(l1) and j<len(l2)):
    if l1[i]<=l2[j]:
      res.append(l1[i])
      i+=1
    else:
      res.append(l2[i])
  while(i<len(l1)):
    res.append(l1[i])
    i+=1
  while(j<len(l2)):
    res.append(l2[j])
    j+=1
  return res
l1=[1,2,3,4,5]
l2=[6,7,8,9]
print(merge(l1,l2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 18.Implement a code to find the intersection of two given lists

In [ ]:
def intersection1(l1,l2):
  res=[]
  for i in l1:
    if i in l2 :
      res.append(i)
  return res
l1=[2,4,6,2,5,3]
l2=[3,4,5,8,2,2]
print(intersection1(l1,l2))

[2, 4, 2, 5, 3]

# 19.Create a code to find the union of two lists without duplicates

In [ ]:
def union(l1,l2):
  res=[]
  for i in l1:
    if i not in res:
      res.append(i)
  for j in l2:
    if j not in res:
      res.append(j)
  return res
l1=[2,4,6,4,2,2,8]
l2=[5,2,6,6,2,1,6]
print(union(l1,l2))

[2, 4, 6, 8, 5, 1]

# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random
def shuffle(l1):
  shuffle_list=l1[:]
  for i in range(len(l1)):
    j=random.randint(0,i)
    shuffle_list[i],shuffle_list[j]=shuffle_list[j],shuffle_list[i]
  return(shuffle_list)
l1=[2,4,4,6,2,5]
print(shuffle(l1))

[4, 5, 4, 2, 2, 6]

# 21.write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [ ]:
def common_elements(tuple1, tuple2):
    common = tuple(elem for elem in tuple1 if elem in tuple2)
    return common
tuple1_input = input("Enter elements of the first tuple separated by commas: ")
tuple1 = tuple(map(int, tuple1_input.split(',')))
tuple2_input = input("Enter elements of the second tuple separated by commas: ")
tuple2 = tuple(map(int, tuple2_input.split(','))
result_tuple = common_elements(tuple1, tuple2)
print("Common Elements:", result_tuple)

Enter elements of the first tuple separated by commas: 1,2,3
Enter elements of the second tuple separated by commas: 1,3,4,2
Common Elements: (1, 2, 3)

# 22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
def intersection(t1,t2):
  intersection1=(set(elem for elem in t1 if elem in t2))
  return intersection1
tuple1_elements=(input("Enter the elements of firts set"))
t1=set(tuple1_elements.split(','))
tuple2_elements=(input("Enter the elements of second set"))
t2=set(tuple2_elements.split(','))
result=intersection(t1,t2)
print("Intersection of sets",result)

Enter the elements of firts set1,2,3,4
Enter the elements of second set1,2
Intersection of sets {'2', '1'}

#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [ ]:
def concatenate(t1,t2):
    concatenated_list = list(t1) + list(t2)

    concatenated_tuple = tuple(concatenated_list)
    return concatenated_tuple


t1_elements=input("Enter the elements of Tuplle one")
t1=set(t1_elements.split(','))
t2_elements=input("Enter the elements of Tuplle second")
t2=set(t2_elements.split(','))
print(concatenate(t1,t2))

Enter the elements of Tuplle one1,2,3,4
Enter the elements of Tuplle second5,6,7
('4', '3', '2', '1', '7', '5', '6')

# 24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set&

In [ ]:
def strings(s1,s2):
  result=set(elem for elem in s1 if elem not in s2)
  return result


s1_elements=input("Enter the Elements of string first")
s1=set(s1_elements.split(","))

s2_elements=input("Enter the Elements of string second")
s2=set(s2_elements.split(","))
print(strings(s1,s2))

Enter the Elements of string firste,r,r,t,y
Enter the Elements of string secondr,u,i,a
{'t', 'y', 'e'}

# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
def get_range_tuple(original_tuple, start, end):
    if start < 0:
        start = 0
    if end > len(original_tuple) - 1:
        end = len(original_tuple) - 1
    return original_tuple[start:end + 1]

start = int(input("Enter the Start index: "))
end = int(input("Enter the End index: "))
input1 = input("Enter the Elements of tuple separated by commas: ")
original_tuple = tuple(input1.split(','))
print(get_range_tuple(original_tuple, start, end))

Enter the Start index: 1
Enter the End index: 4
Enter the Elements of tuple separated by commas: 1,2,3,4,5,6,7
('2', '3', '4', '5')

# 26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&

In [ ]:
def union_set(s1,s2):
  result=set()
  for i in s1:
    result.add(i)
  for i in s2:
    result.add(i)




  return result




s1_elements=input("Enter the elements of set first seprated by comma")
s1=set(s1_elements.split(","))
s2_elements=input("Enter the elements of set first seprated by comma")
s2=set(s2_elements.split(","))
print(union_set(s1,s2))

Enter the elements of set first seprated by comma1,2,3
Enter the elements of set first seprated by comma2,3,5
{'2', '5', '3', '1'}

# 27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking&

In [11]:
def max_min(t1):
  max1=max(t1)

  min1=min(t1)
  return max1,min1


t1_elements=(input("Enter the elements of tuple seprated by comma"))
t1=tuple(t1_elements.split(","))
max1,min1=max_min(t1)
print("Max Element",max1)
print("Min Element",min1)

Enter the elements of tuple seprated by comma1,2
Max Element 2
Min Element 1

# 28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets&

In [13]:
def operations1(s1, s2):
    union = set()
    intersection = set(elem for elem in s1 if elem in s2)
    difference = set(elem for elem in s1 if elem not in s2)
    for i in s1:
        union.add(i)
    for i in s2:
        union.add(i)
    return union, intersection, difference

s1_elements = input("Enter the elements of the first set separated by comma: ")
s1 = set(s1_elements.split(","))
s2_elements = input("Enter the elements of the second set separated by comma: ")
s2 = set(s2_elements.split(","))
union, intersection, difference = operations1(s1, s2)

print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Enter the elements of the first set separated by comma: 1,2,4
Enter the elements of the second set separated by comma: 4,8,1
Union: {'8', '4', '2', '1'}
Intersection: {'4', '1'}
Difference: {'2'}

# 29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [17]:
def count_occurrences(tup, element):
    count = 0
    for item in tup:
        if item == element:
            count += 1
    return count
input_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
occurrences = count_occurrences(input_tuple, element_to_count)
print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

# 30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [18]:
def symmetric_diff(s1,s2):
  result=s1^s2
  return result
s1_elements = input("Enter the elements of the first set separated by comma: ")
s1 = set(s1_elements.split(","))
s2_elements = input("Enter the elements of the second set separated by comma: ")
s2 = set(s2_elements.split(","))
print(symmetric_diff(s1,s2))

Enter the elements of the first set separated by comma: a,s,d,f
Enter the elements of the second set separated by comma: a,e,r,j
{'r', 'd', 's', 'j', 'f', 'e'}